<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Post</title>
</head>
<body>
<form th:action="@{/posts/create}" th:method="post" th:object="${post}">
    <label>Blog Title</label>
        <input type="text" th:field="*{title}" id="postTitle" placeholder="Type Title Here">
    <br>
    <label>Blog Body: </label>
        <input type="text" th:field="*{body}" id="postBody" placeholder="Insert Body Here">
    <button type="submit">Submit Post</button>
</form>


</body>
</html>