<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Post</title>
</head>
<body>

    <form th:action="'/posts/edit/' + ${post.getId()}" method="post">
        <label>Blog Title:</label>
            <input type="text" name="postTitle" th:placeholder="${post.getTitle()}" th:value="${post.getTitle()}" />
    <br>
        <label>Body:
                <input type="text"  name="postBody" size="100"  th:value="${post.getBody()}" />
        </label>
    <br>
        <button type="submit" name="confirmEdit">Confirm Edits</button>
    </form>
</body>
</html>