<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<!--<div th:fragment="eagleImg"><img class="eagle" src="../img/EagleHeading.png" alt="eaglesLogo"></div>-->
    <nav th:fragment="navbar">
        <a href="posts/create.html">Create Post</a>
    </nav>
<!--th:src-->
<footer th:fragment="foot"><h6>Test Footer!</h6></footer>
</body>
</html>